@import "../../styles/theme.scss";

.carousel {
  height: 82vh;
}

.carousel-inner {
  height: 100%;
}

.carousel-caption {
  background-color: $darkGray;
  opacity: 0.9;
  border-radius: 10px;
}

.carousel-item {
  height: 100%;
}
.carousel-item img {
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

@media (max-width: 1200px) {
  .carousel {
    height: auto;
  }
}
