@import "../../styles/theme.scss";

.product-page {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 250px;
}

.product-page .preview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 37px;
  justify-items: center;
  margin-bottom: 100px;
}

.product-page .preview .left-column {
  margin: 0;
  max-width: 600px;
}

.product-page .preview .right-column {
  max-width: 500px;

  & .reviews,
  .socials {
    display: flex;
  }

  & .reviews {
    margin-bottom: 20px;
  }

  & h1 {
    margin-bottom: 20px;
    font-size: 26px;
  }

  & .price {
    color: $accent;
    margin-bottom: 40px;
  }

  & .reviews p {
    line-height: 1;
    margin-right: 7px;
  }

  & .reviews p:last-child {
    color: $darkGray;
    margin-left: 20px;
  }

  & .description {
    line-height: 25px;
    margin-bottom: 50px;
  }

  & .add-item-button {
    width: 100%;
    border: 1px solid $black;
    border-radius: 5px;
    background-color: transparent;
    transition: 0.3s;
    margin-left: 20px;

    &:hover {
      border: 1px solid $accent;
      color: $accent;
    }
  }

  & .socials {
    margin-top: 80px;
    & a {
      margin-right: 20px;
    }

    & a:hover {
      color: $accent;
    }

    & button {
      border: none;
      background-color: transparent;
      color: $accent;
      padding: 0;
    }

    & span {
      content: "";
      margin: 0 40px;
      border-right: 1px solid $darkGray;
      height: 16px;
    }
  }
}

.product-page .additional-infos {
  margin-bottom: 100px;
}

.product-page .similar-items h1 {
  font-size: 26px;
  margin-bottom: 50px;
}

.product-page .similar-items .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 86px 57px;
}

@media (max-width: 1200px) {
  .product-page {
    margin: 0;
  }

  .product-page .preview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-page .preview .left-column,
  .right-column {
    max-width: none;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .product-page .similar-items .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 43px 28px;
  }
}

@media (max-width: 480px) {
  .product-page .similar-items .container {
    grid-template-columns: 1fr;
    gap: 21px 12px;
  }
}
