@import "../../styles/theme.scss";

.order-page {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 250px;
}

.order-page h1 {
  font-size: 26px;
  margin-bottom: 30px;
}

// order details
.order-details {
  width: 50%;
  min-width: 400px;
  max-width: 500px;
  margin-right: 50px;

  & h3 {
    margin-bottom: 6px;
  }

  & p {
    color: $darkGray;
  }
}

.order-details .wrapper {
  display: flex;
  justify-content: space-between;

  & div {
    margin-bottom: 40px;
  }
}

// your order
.order-page .user-order .summary .new-row.total {
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 600;
  & p:last-child {
    color: $black;
  }
}

@media (max-width: 992px) {
  .order-page {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 125px;
  }

  .order-details {
    width: 100%;
    max-width: 500px;
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .order-page {
    margin: 0;
  }

  .order-details .wrapper {
    display: block;
  }
}
