@import "../../styles/theme.scss";

.login-page {
  margin-top: 100px;
  margin-bottom: 250px;
  width: 500px;
  text-align: center;
}

.login-page h1 {
  font-size: $headerOne;
  font-weight: bolder;
  margin-bottom: 64px;
}

// toggle switch
.login-page .toggle-switch {
  display: inline-flex;
  align-items: center;
  height: 53px;
  border-radius: 5px;
  overflow: hidden;
  background-color: $lightGray;
  width: 100%;
  padding: 5px;
  margin-bottom: 64px;
}

.login-page .toggle-option {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  text-align: center;
  cursor: pointer;
  color: $black;
  border-radius: 5px;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.login-page .toggle-option.active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: $white;
}

// login/register form
.login-page form input {
  border: none;
  font-size: 16px;
  border-bottom: 1px solid $lightGray;
  width: 100%;
  height: 39px;
  margin-bottom: 46px;
}

.login-page .login-remember {
  text-align: start;
  margin: 15px 0 70px 0;
}

.login-page .login-remember input {
  margin-right: 5px;
  width: auto;
  height: auto;
  margin-bottom: 0;
  accent-color: $accent;
}

.login-page button {
  border: none;
  background-color: $accent;
  color: $white;
  height: 53px;
  width: 100%;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: $darkGray;
  }
}

.login-forgot {
  margin-top: 25px;

  &:hover {
    color: $accent;
  }
}

@media (max-width: 768px) {
  .login-wrapper {
    margin-top: 50px;
    margin-bottom: 125px;
  }
}

@media (max-width: 480px) {
  .login-page {
    margin: 0;
  }

  .toggle-switch {
    margin-bottom: 60px;
  }
}
