@import "../../../../styles/theme.scss";

.review-item {
  border-bottom: 1px solid $lightGray;
  margin-bottom: 25px;
}

.review-item .header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  & h3 {
    font-size: 20px;
    margin-right: 30px;
  }

  & p {
    font-size: 14px;
    color: $darkGray;
  }
}

.review-item .stars {
  display: flex;
  margin-bottom: 25px;

  & p {
    margin-right: 7px;
  }
}

.review-item .content {
  margin-bottom: 40px;
  color: $darkGray;
}
