@import "../../../styles/theme.scss";

.details-tab {
  display: flex;
  justify-content: center;

  & h3 {
    margin-bottom: 40px;
    font-weight: 600;
  }
}

.details-tab .container {
  width: 500px;
}

.details-tab h1 {
  font-size: $headerOne;
  font-weight: bolder;
  margin-bottom: 40px;
  text-align: center;
}

.details-tab p {
  margin-bottom: 40px;
  font-size: 12px;
  color: $darkGray;
}

.details-tab input {
  border: none;
  font-size: 14px;
  border-bottom: 1px solid $lightGray;
  width: 100%;
  height: 39px;
  margin-bottom: 40px;

  &.margin-none {
    margin-bottom: 10px;
  }
}

.details-tab button {
  border: none;
  background-color: $accent;
  color: $white;
  height: 53px;
  width: 100%;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: $darkGray;
  }
}

@media (max-width: 768px) {
  .details-tab {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 125px;
  }

  .details-tab input {
    margin-bottom: 32px;
  }
}

@media (max-width: 480px) {
  .details-tab {
    margin: 0;
  }
}
