@import "../../../styles/theme.scss";

.dashboard-tab {
  font-size: 16px;
}

.dashboard-tab .greatings {
  & span {
    font-weight: 600;
  }
}

.dashboard-tab .content {
  & span {
    color: $accent;
  }
}
