@import "../../styles/theme.scss";

// general styles
.checkout-page {
  width: 100%;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 250px;
}

.checkout-page h1 {
  text-align: center;
  font-size: $headerOne;
  font-weight: bolder;
  margin-bottom: 64px;
}

.checkout-page .content {
  display: flex;
  justify-content: center;
}

.checkout-page h3 {
  font-size: 26px;
  margin-bottom: 30px;
}

// billing details
.billing-details {
  width: 100%;
  max-width: 580px;
}

.billing-details form {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.billing-details .fullname {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 37px;

  & input {
    width: 100%;
  }
}

.billing-details input {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid $darkGray;
  margin-bottom: 37px;
  padding-bottom: 12px;
}

.billing-details .checkbox-wrapper {
  margin-bottom: 37px;

  & .checkbox:last-child {
    margin-bottom: 0;
  }

  & input {
    margin-bottom: 0;
  }
}

.billing-details .checkbox-wrapper .checkbox {
  margin-bottom: 17px;

  & label {
    margin-left: 10px;
  }
}

// your order
.user-order {
  width: 100%;
  max-width: 580px;
}

.user-order .summary {
  padding: 50px;
  background-color: $lightGray;
}

.user-order .summary .new-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
  border-bottom: 1px solid $darkGray;
  padding-bottom: 17px;

  & p:last-child {
    color: $darkGray;
  }
}

.user-order .summary .items {
  flex-direction: column;
  & .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
  }

  & .item:last-child {
    margin-bottom: 0;
  }
}

.user-order .summary .new-row.header {
  & p:last-child {
    color: $black;
  }
}

.user-order .summary .new-row.total {
  font-weight: 600;
  & p:last-child {
    color: $black;
  }
}

.user-order .summary .payment-type {
  margin: 50px 0;

  & input {
    accent-color: $black;
  }

  & label {
    margin-left: 10px;
    margin-bottom: 17px;
  }
}

.submit-button {
  width: 100%;
  border: none;
  color: $white;
  background-color: $accent;
  height: 53px;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s;

  &:hover {
    background-color: $darkGray;
  }
}

@media (max-width: 992px) {
  .checkout-page .content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 125px;
  }

  .billing-details {
    width: 100%;
    max-width: 500px;
    margin-right: 0;
  }

  .user-order {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 480px) {
  .checkout-page {
    margin: 0;
  }

  .billing-details .fullname {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
