@import "../../styles/theme.scss";

.account-page {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 250px;
}

.account-page h1 {
  font-size: 33px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 65px;
}

@media (max-width: 768px) {
  .account-page {
    margin-top: 50px;
    margin-bottom: 125px;
  }
}

@media (max-width: 480px) {
  .account-page {
    margin: 0px;
  }
}
