@import "../../../styles/theme.scss";

.orders-tab table {
  width: 100%;
  border-collapse: collapse;
}

.orders-tab thead {
  border-bottom: 1px solid $black;
}

.orders-tab tbody {
  color: $darkGray;

  & tr {
    border-bottom: 1px solid $lightGray;
  }

  & a {
    border: none;
    background-color: transparent;
    color: $accent;
    font-weight: 600;
  }
}

.orders-tab th,
.orders-tab td {
  padding: 25px 0;
}

// mobile version
.orders-tab .mobile {
  display: none;
}

.orders-tab .order {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid $lightGray;
}

.orders-tab .info {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;

  &:last-child {
    margin-bottom: 0;
  }

  & p:last-child {
    color: $darkGray;
  }

  & a {
    border: none;
    background-color: transparent;
    color: $accent;
    font-weight: 600;
  }
}

@media (max-width: 768px) {
  .orders-tab table {
    display: none;
  }

  .orders-tab .mobile {
    display: block;
  }
}
