@import "../../styles/theme.scss";

.unauthorized-page {
  text-align: center;
  align-self: center;
}

.unauthorized-page h1 {
  font-size: $headerSecond;
  font-family: $secondaryFont;
  margin: 1rem;
}

.unauthorized-page p {
  line-height: 25px;
}

.unauthorized-page a {
  border-bottom: 1px solid $accent;

  &:hover {
    color: $accent;
  }
}
