@import "../../styles/theme.scss";

.sidebar-wrapper {
  height: 100vh;
  background-color: $white;
  border-left: 1px solid $lightGray;
  padding: 40px 60px 10px 60px;
  box-sizing: border-box;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  z-index: 999;
}

.sidebar-wrapper .container {
  display: flex;
  flex-direction: column;
}

.sidebar-wrapper.open {
  transform: translateX(0);
}

.sidebar-wrapper .close-btn {
  align-self: end;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  padding: 0;
  margin-bottom: 40px;

  &:hover {
    color: $accent;
  }
}

.sidebar-wrapper h1 {
  margin-bottom: 17px;
  font-size: 16px;
}

.sidebar-wrapper .quantity {
  color: $darkGray;
  font-size: 12px;
}

.sidebar-wrapper .items {
  height: 400px;
  overflow-y: auto;
}

// subtotal
.sidebar-wrapper .summary button {
  border: 1px solid $black;
  background-color: transparent;
  border-radius: 5px;
  height: 53px;
  width: 100%;
  font-weight: 600;
  transition: 0.3s;

  &:hover {
    border: 1px solid $accent;
    color: $accent;
  }
}

.sidebar-wrapper .summary .subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
