@import "../../styles/theme.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $lightGray;
  margin-bottom: 30px;
}

.navbar__brand {
  font-family: $secondaryFont;
  font-size: 35px;
}

.navbar__brand:hover {
  color: $accent;
}

.navbar__brand span {
  color: $accent;
}

.navbar__menu-group {
  justify-content: end;
}

.navbar__menu {
  list-style: none;
  display: flex;
}

.navbar__search {
  display: none;
}

.logout {
  display: none;
}

.navbar__item {
  font-size: 16px;
  margin-right: 20px;
}

.navbar__item:last-child {
  margin-right: 0;
}

.navbar__icon-menu .navbar__item {
  margin-right: 20px;
}

.navbar__icon-menu .navbar__item:last-child {
  margin-right: 0px;
}

.navbar__separator {
  content: "";
  margin: 0 20px;
  border-right: 1px solid $accent;
  height: 16px;

  @media (max-width: 992px) {
    border-right: none;
    height: 0;

    &:after {
      content: "";
      border-bottom: 1px solid $accent;
      display: block;
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    margin: 20px;
    width: 100%;
  }
}

.navbar__item:hover {
  color: $accent;
}

@media (max-width: 992px) {
  .navbar__menu-group {
    margin: 20px 0;
  }

  .navbar__item {
    font-size: 26px;
    margin-bottom: 20px;

    &.cart a::after {
      content: " Cart";
    }

    &.my-account a::after {
      content: " My Account";
    }
  }

  .navbar__item:last-child {
    margin-bottom: 0;
  }

  .navbar__icon-menu .navbar__menu {
    display: contents;
  }

  .navbar__item.search {
    display: flex;
    background-color: $lightGray;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    width: 300px;
  }

  .navbar__item-input {
    background-color: $lightGray;
    border: none;
    font-size: 26px;
    padding-left: 10px;
    width: 100%;
  }

  .navbar__search {
    display: block;
    width: 100%;
  }

  .logout {
    display: block;
  }
}

@media (max-width: 480px) {
  .navbar__icon-menu .navbar__item {
    margin-right: 0;
  }

  .navbar__item {
    margin-right: 0;
  }
}

.navbar-toggler {
  background-color: transparent;
  border: none !important;

  &:focus:not(.collapsed) .custom-toggler-icon {
    color: $accent;
  }
}

.custom-toggler-icon {
  color: $black;
  transition: color 0.3s;

  &:hover {
    color: $accent;
  }
}

.navbar-toggler:focus,
.navbar-toggler:active,
.custom-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
}
