@import "../../styles/theme.scss";

.home-page {
  width: 100%;
  margin-bottom: 250px;
}

.home-page .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

.home-page .header h1 {
  font-size: 24px;
}

.home-page .header a {
  color: $accent;
  font-weight: bold;
}

.home-page .products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 86px 57px;
}

@media (max-width: 992px) {
  .home-page .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 43px 28px;
  }
}

@media (max-width: 480px) {
  .home-page .products {
    grid-template-columns: 1fr;
    gap: 21px 12px;
  }
}
