@import "../../styles/theme.scss";

.cart-page {
  width: 100%;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 250px;
}

.cart-page h1 {
  text-align: center;
  font-size: $headerOne;
  font-weight: bolder;
  margin-bottom: 64px;
}

.cart-page input {
  width: 100%;
  font-size: 12px;
  border: none;
  border-bottom: 1px solid $lightGray;
  padding-bottom: 17px;
  margin-top: 17px;
  margin-right: 70px;
}

.cart-page .content {
  display: flex;
  justify-content: center;
}

.cart-page .left-column {
  width: 100%;
  max-width: 580px;
  margin-right: 100px;
}

.cart-page .left-column .items {
  margin-bottom: 100px;
}

.cart-page .left-column .coupon-code {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.cart-page .left-column .coupon-code button {
  border: none;
  color: $white;
  background-color: $accent;
  height: 53px;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s;
  padding: 0 25px;

  &:hover {
    background-color: $darkGray;
  }
}

.cart-page .right-column {
  width: 100%;
  max-width: 580px;
}

.cart-page .right-column h3 {
  font-size: 26px;
  margin-bottom: 30px;
}

.cart-page .right-column .cart-totals {
  display: flex;
}

.cart-page .right-column .cart-totals .infos {
  margin-left: 140px;
  color: $darkGray;

  & .calculate {
    margin-top: 40px;
    color: $black;
  }

  & button {
    margin-top: 23px;
    width: 100%;
    border: 1px solid $black;
    color: $black;
    background-color: transparent;
    height: 53px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.3s;
    padding: 0 25px;

    &:hover {
      color: $accent;
      border: 1px solid $accent;
    }
  }
}

.cart-page .right-column .total {
  margin-top: 45px;
  padding-top: 45px;
  border-top: 1px solid $lightGray;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.cart-page .right-column button {
  margin-top: 45px;
}

@media (max-width: 1200px) {
  .cart-page .content {
    flex-direction: column;
    align-items: center;
  }

  .cart-page .left-column {
    margin-right: 0;
    margin-bottom: 125px;
  }

  .cart-page .right-column .cart-totals .infos {
    margin-left: 70px;
  }
}

@media (max-width: 992px) {
  .cart-page .right-column .cart-totals .infos {
    margin-left: 35px;
  }
}

@media (max-width: 768px) {
  .cart-page {
    margin-top: 50px;
    margin-bottom: 125px;
  }
}

@media (max-width: 480px) {
  .cart-page {
    margin: 0;
  }
}
