@import "../../styles/theme.scss";

.slider-custom {
  color: $black !important;
}

.slider-custom:hover {
  background-color: transparent;
}

.lider-custom .MuiSlider-thumb {
  background-color: $black;
}

.slider-custom .MuiSlider-track {
  background-color: $black;
}

.slider-custom .MuiSlider-rail {
  background-color: $darkGray;
}

.slider-price {
  color: $darkGray;
  margin-top: 10px;
  margin-bottom: 40px;
}
