@import "../../../styles/theme.scss";

.item-wrapper {
  display: flex;
  border-bottom: 1px solid $lightGray;
  margin-bottom: 23px;
}

.item-wrapper img {
  width: auto;
  height: 136px;
  object-fit: cover;
  object-position: center;
}

.item-wrapper .title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
  margin-bottom: 20px;
  width: 100%;

  & .price {
    color: $accent;
  }
}

.remove-button {
  border: none;
  align-self: flex-start;
  background-color: transparent;
  transition: 0.3s;

  &:hover {
    color: $accent;
  }
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .item-wrapper .title {
    width: 100%;
    margin-left: 10px;
  }
}
