@import "../../styles/theme.scss";

.filter-wrapper {
  height: 400px;
  margin-right: 36px;
}

// search bar styles
.filter-wrapper .search {
  width: 260px;
  margin-bottom: 40px;
}

.filter-wrapper form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $darkGray;
}

.filter-wrapper form input {
  width: 100%;
  padding: 11px 0;
  border: none;
}

.filter-wrapper form button {
  margin-left: 5px;
  padding: 0;
  background-color: transparent;
  color: $black;
  border: none;
  transition: color 0.3s;

  &:hover {
    color: $accent;
  }
}

.filter-wrapper .switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

// filter submit button
.filter-wrapper .submit {
  border: none;
  background-color: $accent;
  color: $white;
  height: 38px;
  width: 100%;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    background-color: $darkGray;
  }
}

@media (max-width: 768px) {
  .filter-wrapper {
    height: auto;
    margin-right: 0;
  }

  .filter-wrapper .search {
    width: 100%;
  }

  .filter-wrapper .switch-wrapper {
    margin-bottom: 20px;
  }

  .filter-wrapper .submit {
    margin-bottom: 50px;
  }
}
